@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./Fonts/NunitoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NunitoSansBold';
  src: local('NunitoSansBold'), url(./Fonts/NunitoSans-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: NunitoSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
